
.myExpertize {
  text-align: center;
  color: white;
}

.title {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #0d0c0d;
}

.title:hover {
  color: #0d0c0d;
  background-color: #eb523d;
}
