.avtar {
  margin: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  width: 340px;
}

.linkedin {
  height: 3rem;
  width: 3rem;
  margin: 0px 0px 0px 0px;
  border-radius: 3rem;
  border-style: hidden;
}

.instagram {
  height: 3rem;
  width: 3rem;
  margin: 0px 0px 0px 10px;
  border-radius: 1rem;
  border-style: hidden;
}

.github {
  height: 3rem;
  width: 3rem;
  margin: 0px 0px 0px 10px;
  border-radius: 1rem;
  border-style: hidden;
}

.css-19kzrtu {
  padding: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 0%;
}

.responsiveDiv1,
.responsiveDiv2 {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
}

@media (min-width: 100px) and (max-width: 299px) {
  .css-19kzrtu {
    padding: 0px !important;
  }
  .responsiveDiv1 {
    width: 100%;
    .name-div {
      display: flex;
      color: white;
      font-size: 30px;
      margin-top: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      flex-direction: column;

      .name-div-text {
        font-size: 30px;
        font-family: initial;
        color: white;
        font-weight: bold;
      }
      .iam-div-text {
        font-size: 25px;
        font-family: initial;
        color: white;
        font-weight: bold;
        margin-left: 1px;
      }
      .name-text {
        font-size: 25px;
        font-family: initial;
        color: #eb523d;
        margin-left: 10px;
        font-weight: bold;
      }
    }

    .bio-div {
      display: flex;
      flex-direction: row;
      color: white;
      margin-left: 20px;
    }

    .bio-div-initial-text {
      font-size: 20px;
      font-family: initial;
      font-weight: bold;
    }

    .bio-div-type-writer {
      font-size: 20px;
      font-family: initial;
      color: #eb523d;
      margin-left: 10px;
      font-weight: bold;
    }
    
    .bio-div-text {
      font-size: 15px;
      font-family: monospace;
      color: white;
      margin-bottom: 30px;
      margin-left: 20px;
    }

    .contact-image-div {
      margin-left: 20px;
    }
  }
  .responsiveDiv2 {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      black 50%,
      black 50%
    );
    display: flex;
    justify-content: center;
    align-items: center;

    .avtar {
      height: 250px;
      width: 250px;
      margin: 2rem;
    }
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .css-19kzrtu {
    padding: 0px !important;
  }
  .responsiveDiv1 {
    width: 100%;
    .name-div {
      display: flex;
      color: white;
      font-size: 30px;
      margin-top: 20px;
      margin-left: 30px;
      margin-bottom: 20px;
      flex-direction: column;
      .name-div-text {
        font-size: 40px;
        font-family: initial;
        color: white;
        font-weight: bold;
      }
      .iam-div-text {
        font-size: 30px;
        font-family: initial;
        color: white;
        font-weight: bold;
        margin-left: 1px;
      }
      .name-text {
        font-size: 30px;
        font-family: initial;
        color: #eb523d;
        margin-left: 10px;
        font-weight: bold;
      }
    }
    .bio-div {
      display: flex;
      flex-direction: row;
      color: white;
      margin-left: 30px;
    }

    .bio-div-initial-text {
      font-size: 20px;
      font-family: initial;
      font-weight: bold;
    }

    .bio-div-type-writer {
      font-size: 20px;
      font-family: initial;
      color: #eb523d;
      margin-left: 10px;
      font-weight: bold;
    }
    
    .bio-div-text {
      font-size: 17px;
      font-family: monospace;
      color: white;
      margin-bottom: 30px;
      margin-left: 30px;
    }

    .contact-image-div {
      margin-left: 30px;
    }
  }
  .responsiveDiv2 {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      black 50%,
      black 50%
    );
    display: flex;
    justify-content: center;
    align-items: center;

    .avtar {
      height: 280px;
      width: 280px;
      margin: 3rem;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .css-19kzrtu {
    padding: 0px !important;
  }
  .responsiveDiv1 {
    width: 100%;
    .name-div {
      display: flex;
      color: white;
      font-size: 30px;
      margin-top: 20px;
      margin-left: 50px;
      margin-bottom: 20px;
      flex-direction: column;
      .name-div-text {
        font-size: 40px;
        font-family: initial;
        color: white;
        font-weight: bold;
      }
      .iam-div-text {
        font-size: 40px;
        font-family: initial;
        color: white;
        font-weight: bold;
        margin-left: 1px;
      }
      .name-text {
        font-size: 40px;
        font-family: initial;
        color: #eb523d;
        margin-left: 10px;
        font-weight: bold;
      }
    }
    .bio-div {
      display: flex;
      flex-direction: row;
      color: white;
      margin-left: 50px;
    }

    .bio-div-initial-text {
      font-size: 20px;
      font-family: initial;
      font-weight: bold;
    }

    .bio-div-type-writer {
      font-size: 20px;
      font-family: initial;
      color: #eb523d;
      margin-left: 10px;
      font-weight: bold;
    }
    
    .bio-div-text {
      font-size: 17px;
      font-family: monospace;
      color: white;
      margin-bottom: 30px;
      margin-left: 50px;
    }

    .contact-image-div {
      margin-left: 50px;
    }
  }
  .responsiveDiv2 {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      black 50%,
      black 50%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    .avtar {
      height: 300px;
      width: 300px;
      margin: 8rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .css-19kzrtu {
    padding: 0px !important;
  }
  .responsiveDiv1 {
    .name-div {
      display: flex;
      color: white;
      font-size: 30px;
      margin-top: 30px;
      margin-left: 70px;
      margin-bottom: 20px;
      flex-direction: column;
      .name-div-text {
        font-size: 40px;
        font-family: initial;
        color: white;
        font-weight: bold;
      }
      .iam-div-text {
        font-size: 40px;
        font-family: initial;
        color: white;
        font-weight: bold;
        margin-left: 1px;
      }
      .name-text {
        font-size: 40px;
        font-family: initial;
        color: #eb523d;
        margin-left: 10px;
        font-weight: bold;
      }
    }
    .bio-div {
      display: flex;
      flex-direction: row;
      color: white;
      margin-left: 70px;
    }

    .bio-div-initial-text {
      font-size: 20px;
      font-family: initial;
      font-weight: bold;
    }

    .bio-div-type-writer {
      font-size: 20px;
      font-family: initial;
      color: #eb523d;
      margin-left: 10px;
      font-weight: bold;
    }
    
    .bio-div-text {
      font-size: 17px;
      font-family: monospace;
      color: white;
      margin-bottom: 30px;
      margin-left: 70px;
    }

    .contact-image-div {
      margin-left: 70px;
    }
  }
  .responsiveDiv2 {
    height: 100%;
    width: 50%;
    background: linear-gradient(
      to right,
      black 50%,
      white 50%
    );
    display: flex;
    justify-content: center;
    align-items: center;

    .avtar {
      height: 300px;
      width: 300px;
      margin: 11.3rem;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .css-19kzrtu {
    padding: 0px !important;
  }
  .responsiveDiv1 {
    .name-div {
      display: flex;
      color: white;
      font-size: 30px;
      margin-top: 70px;
      margin-left: 90px;
      margin-bottom: 20px;
      flex-direction: column;
      .name-div-text {
        font-size: 40px;
        font-family: initial;
        color: white;
        font-weight: bold;
      }
      .iam-div-text {
        font-size: 40px;
        font-family: initial;
        color: white;
        font-weight: bold;
      }
      .name-text {
        font-size: 40px;
        font-family: initial;
        color: #eb523d;
        margin-left: 10px;
        font-weight: bold;
      }
    }
    .bio-div {
      display: flex;
      flex-direction: row;
      color: white;
      margin-left: 90px;
    }

    .bio-div-initial-text {
      font-size: 20px;
      font-family: initial;
      font-weight: bold;
    }

    .bio-div-type-writer {
      font-size: 20px;
      font-family: initial;
      color: #eb523d;
      margin-left: 10px;
      font-weight: bold;
    }
    
    .bio-div-text {
      font-size: 17px;
      font-family: monospace;
      color: white;
      margin-bottom: 30px;
      margin-left: 90px;
    }

    .contact-image-div {
      margin-left: 90px;
    }
  }
  .responsiveDiv2 {
    height: 100%;
    width: 50%;
    background: linear-gradient(
      to right,
      black 50%,
      white 50%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    .avtar {
      height: 400px;
      width: 400px;
      margin: 6.3rem;
    }
  }
}

@media (min-width: 1200px) {
  .css-19kzrtu {
    padding: 0px !important;
  }
  .responsiveDiv1 {
    .name-div {
      display: flex;
      flex-direction: row;
      color: white;
      font-size: 30px;
      margin-top: 90px;
      margin-left: 110px;
      margin-bottom: 20px;
      .name-div-text {
        font-size: 40px;
        font-family: initial;
        color: white;
        font-weight: bold;
      }
      .iam-div-text {
        font-size: 40px;
        font-family: initial;
        color: white;
        font-weight: bold;
        margin-left: 10px;
      }
      .name-text {
        font-size: 40px;
        font-family: initial;
        color: #eb523d;
        margin-left: 10px;
        font-weight: bold;
      }
    }
    .bio-div {
      display: flex;
      flex-direction: row;
      color: white;
      margin-left: 110px;
    }

    .bio-div-initial-text {
      font-size: 20px;
      font-family: initial;
      font-weight: bold;
    }

    .bio-div-type-writer {
      font-size: 20px;
      font-family: initial;
      color: #eb523d;
      margin-left: 10px;
      font-weight: bold;
    }
    
    .bio-div-text {
      font-size: 17px;
      font-family: monospace;
      color: white;
      margin-bottom: 30px;
      margin-left: 110px;
    }

    .contact-image-div {
      margin-left: 110px;
    }
  }
  .responsiveDiv2 {
    height: 100%;
    width: 50%;
    background: linear-gradient(
      to right,
      black 50%,
      white 50%
    );
    display: flex;
    justify-content: center;
    align-items: center;

    .avtar {
      height: 400px;
      width: 400px;
      margin: 6.3rem;
    }
  }
}

.responsiveDiv2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
